body {
  font-size: .875rem;
}

.feather {
  width: 16px;
  height: 16px;
  vertical-align: text-bottom;
}

/*
 * Sidebar
 */

.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 100; /* Behind the navbar */
  padding: 48px 0 0; /* Height of navbar */
}

@media (max-width: 767.98px) {
  .sidebar {
    top: 5rem;
  }
}

.sidebar-sticky {
  position: relative;
  top: 0;
  height: calc(100vh - 48px);
  padding-top: 0.80rem ;
  overflow-x: hidden;
  overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
}

@supports ((position: -webkit-sticky) or (position: sticky)) {
  .sidebar-sticky {
    position: -webkit-sticky;
    position: sticky;
  }
}

.sidebar .nav-link {
  font-weight: 500;
  color: #546f78;
  padding: 0px;
}

.sidebar .nav-link .feather {
  margin-right: 4px;
  color: #999;
}

.sidebar .nav-link.active {
  color: #007bff;
}

.sidebar .nav-link:hover .feather,
.sidebar .nav-link.active .feather {
  color: inherit;
}

.sidebar-heading {
  font-size: 1.80rem;
  text-transform: uppercase;
  background-color: #546f7a;
  color: #fff;
  margin: 0%;
  padding: 1.6rem 1.5rem .8rem;
  line-height: 2rem;
  border: 0;
  border-radius: 0%;
}

.sidebar li.nav-item
{
  padding: 29px 25px;
  border-bottom: 0.15rem solid #f0f0f0;
}

.nav-item.sidebar-open-tickets, .nav-item.sidebar-open-tickets .nav-link
{
  background-color: #546f7a;
  color: #fff;
}

.sidebar-sticky .dropdown-menu
{
  position: relative;
  top: 0px;
  min-width: 0;
  width: 100%;
  border: 0;
  padding: 0;
  margin: 0;
  border-radius: 0;
}
/*
 * Navbar
 */

.navbar-brand {
  padding-top: .75rem;
  padding-bottom: .75rem;
  font-size: 2rem;
  font-weight: 600;
  /* background-color: rgba(0, 0, 0, .25);
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .25); */
}

.navbar .navbar-toggler {
  top: .25rem;
  right: 1rem;
}

.navbar .form-control {
  padding: .75rem 1rem;
  border-width: 0;
  border-radius: 0;
}

.form-control-dark {
  color: #fff;
  background-color: rgba(255, 255, 255, .1);
  border-color: rgba(255, 255, 255, .1);
}

.form-control-dark:focus {
  border-color: transparent;
  box-shadow: 0 0 0 3px rgba(255, 255, 255, .25);
}

.mnavbar-bg-color
{
  background-color: #115c83;
}

.nav-user {
	padding: calc(31px / 2) 20px calc(31px / 2) 57px !important;
	text-align: left !important;
  position: relative;
  color: #fbffff !important;
	min-height: 70px;
}

.navbar-custom .topbar-right-menu .nav-link {
	padding: 0;
	color: hsl(210, 14%, 83%);
	min-width: 32px;
	display: block;
	text-align: center;
	margin: 0 10px;
	position: relative;
}

.nav-user .account-user-avatar {
	position: absolute;
	top: calc(38px / 2);
	left: 15px;
}

.nav-user .account-user-avatar img {
	height: 32px;
	width: 32px;
}

.nav-user .account-user-name {
	display: block;
	font-weight: 600;
}

.nav-user .account-position {
	display: block;
	font-size: 12px;
	margin-top: -3px;
}

.arrow-right::after{
  position: absolute;
  right: 0px;
  top: 27px;
}

.dropdown-menu-animated
{
  position: absolute !important;
  will-change: transform;
  top: 0px;
  left: 0px;
  transform: translate3d(13px, 70px, 0px);
}

.dropdown-menu-animated.dropdown-menu-right {
	right: 0 !important;
	left: -15px !important;
}

.profile-dropdown
{
  max-width: 210px;
}

.dropdown-item {
	display: block;
	width: 100%;
	padding: .375rem 1.5rem;
	clear: both;
	font-weight: 400;
	color: #6c757d;
	text-align: inherit;
	white-space: nowrap;
	background-color: transparent;
	border: 0;
}

.sidebar-sticky .nav-item > .nav-link .nav-item-row
{
  display: flex;
  -ms-flex-direction: row;
  flex-direction: row;
  white-space: nowrap;
  font-size: 20px;
  width: 100%;
}

.sidebar-sticky .nav-item > .nav-link
{
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-align: center;
  align-items: flex-start;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.sidebar-sticky .nav-item > .nav-link.nav-link-expand
{
  -ms-flex-flow: row nowrap;
  flex-flow: row nowrap;
  -ms-flex-pack: start;
  justify-content: flex-start;
  flex-direction: column;
}

.nav-item-row .item-ticket-desc
{
  text-overflow: ellipsis;
  overflow: hidden;
  width: 40%;
  margin-right: auto !important;
}

.nav-link .item-date {
	font-size: 20px;
	font-weight: bold;
}

.item-ticket-type {
	border-radius: 0;
	font-weight: 500;
	font-size: inherit;
	padding: 0.50em;
	margin-top: 0.25em;
}

.badge-warning {
	color: #feffff;
	background-color: #ffc75b;
}